@model IEnumerable<TimeApp.Models.Time>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title_of_user">Users</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table  id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>
            <td>
                <a class="edit-link fa fa-edit"  asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a  class="details-link fa fa-solid fa-list-ul" asp-action="Details" asp-route-id="@item.Id"></a> |
                <a  class="delete-link fa fa-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
