@model IEnumerable<TimeApp.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .transparent_rgba {
        text-decoration: none;
        margin-bottom: 30px;
        color: black;
        float: right;
        border: none;
        background-color: snow;
        font-size: 15px;
    }
    .title_of_user {
        color: snow !important;
        text-decoration: none;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 80px;

    }
    .edit-link{
        color: black;
    }
    .details-link {
        color: black;
    }
    .delete-link{
        color: black;
    }
    </style>

<h1 class="title_of_user">Role</h1>

<p>
    <a class="btn transbox transparent_rgba" asp-action="Create">Create New Role</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td >
                    <a style="color:black !important;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a style="color:black !important;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a style="color:black !important;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> }
