@model IEnumerable<TimeApp.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript" ></script>*@

<style>
    .transparent_rgba {
        text-decoration: none;
        margin-bottom: 30px;
        color: black;
        float: right;
        border: none;
        background-color: snow;
        font-size: 15px;
    }
    .title_of_user {
        color: snow !important;
        text-decoration: none;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 80px;
        
    }
    .edit-link{
        color: black;
    }
    .details-link {
        color: black;
    }
    .delete-link{
        color: black;
    }


</style>

<h1 class="title_of_user">Users</h1>

<p >
    <a class="btn transbox transparent_rgba" asp-action="Create">Create New User</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageType)
            </td>
            <td>
                <a class="edit-link" asp-route-id="@item.Id">Edit</a> |
                <a class="details-link" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="details-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script> }

