@model IEnumerable<TimeApp.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript" ></script>*@

<style>
    .transparent_rgba {
        text-decoration: none;
        margin-bottom: 30px;
        color: black;
        float: right;
        border: none;
        background-color: snow;
        font-size: 15px;
    }
    .title_of_user {
        text-decoration: none;
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
        color: snow;
        margin-top: -50px;
    }
    .edit-link{
        color: green;
        font-size: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .details-link {
        color: black;
        font-size: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .delete-link {
        font-size: 20px;
        color: red;
        margin-left: 8px;
        margin-right: 8px;
    }
    #myInput{
        border: none
    }
   


</style>

<h1 class="title_of_user">Users</h1>

<p >
    <a class="btn transbox transparent_rgba Edit" asp-action="Create">Create New User</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @*<input type="password" value="@Html.DisplayFor(modelItem => item.Password)" id="myInput">
        <input type="checkbox" onclick="myFunction()">Show Password*@
                @Html.DisplayFor(modelItem => item.Password)

            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageType)
            </td>
            <td>
                <a class="edit-link fa fa-edit" asp-action="Edit" asp-route-id="@item.Id"></a> 
                <a class="details-link fa fa-solid fa-list-ul" asp-action="Details" asp-route-id="@item.Id"></a> 
                <a class="delete-link fa fa-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script> }

