@model IEnumerable<TimeApp.Models.Language>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .transparent_rgba {
        text-decoration: none;
        margin-bottom: 30px;
        color: black;
        float: right;
        border: none;
        background-color: snow;
        font-size: 15px;
    }

    .title_of_user {
        text-decoration: none;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
        color: snow;
        margin-top: -50px;
    }

    .edit-link {
        color: green;
        font-size: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .details-link {
        color: black;
        font-size: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .delete-link {
        font-size: 20px;
        color: red;
        margin-left: 8px;
        margin-right: 8px;
    }
</style>

<h1 class="title_of_user">Languages</h1>

<p>
    <a class="btn transbox transparent_rgba" asp-action="Create">Create New Language</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageType)
                </td>
                <td>
                    <a class="edit-link fa fa-edit" asp-action="Edit" asp-route-id="@item.Id"></a> 
                    <a class="details-link fa fa-solid fa-list-ul" asp-action="Details" asp-route-id="@item.Id"></a> 
                    <a class="delete-link fa fa-trash" asp-action="Delete" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> }